Design.png
Design.xcf

.idea

s3_website.yml

# Specific image renditions − straight to Cloudflare
*_200.webp
*_240.webp
*_358.webp
*_450.webp
*_722.webp
*_726.webp
*_800.webp

# These are too big for GitHub
video/

# Don't leak these
credentials.env

# Build artifacts
styles/minified/
 
