/* Tilting inspired by https://codepen.io/felixdorner/pen/oWwpbN */

@keyframes meander {
  0%, 100% {
    transform: rotateX(15deg) rotateY(15deg) rotateZ(-5deg);
  }
  12.5% {
    transform: rotateX(13deg) rotateY(17deg) rotateZ(-7deg);
  }
  25% {
    transform: rotateX(17deg) rotateY(13deg) rotateZ(-3deg);
  }
  37.5% {
    transform: rotateX(13deg) rotateY(17deg) rotateZ(-7deg);
  }
  50% {
    transform: rotateX(15deg) rotateY(15deg) rotateZ(-5deg);
  }
  62.5% {
    transform: rotateX(17deg) rotateY(13deg) rotateZ(-3deg);
  }
  75% {
    transform: rotateX(13deg) rotateY(17deg) rotateZ(-7deg);
  }
  87.5% {
    transform: rotateX(17deg) rotateY(13deg) rotateZ(3deg);
  }
}

.ballot {
    z-index: 1;
    position: relative;
    padding: 40px;
    transform-style: preserve-3d;
    background-image: url('images/card_stock.svg');
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #d3c6ae;
    box-sizing: border-box;
    color: #333;
    background-size: cover;
    background-position: center;
}

.coat-of-arms {
    width: 20%;
}

.meander {
    animation: meander 40s infinite alternate;
}

.ballot h5, .ballot p, .ballot ul, .ballot img {
    position: relative;
    z-index: 2;
}

.z-low {
    transform: translateZ(60px);
}

.z-mid {
    transform: translateZ(70px);
}

.z-high {
    transform: translateZ(80px);
}

.ballot h4 {
    position: relative;
    z-index: 2;
}

.vertical-text-container {
    writing-mode: vertical-lr; /* Orient text vertically */
    transform: rotate(180deg); /* Flip text to run bottom-to-top */
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust space from the bottom */
    font-size: 14px; /* Adjust size as needed */
    white-space: nowrap; /* Keeps text in a single line */
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}

.sankey {
    width: calc(max(60vw, 360px));
    height: calc(max(20vh, 480px));
}
