:root {
    --fusion-aquamarine: #5effd8;
    --fusion-pink: #ff7fff;
    --fusion-blue: #5facff;
    --fusion-purple: #c34df1;
    --fusion-gray: #949494;
    --underlining-duration: 0.55s;
    --font-border-width: 4px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, p {
    /* Avoid things accidentally covering up our text */
    z-index: 2;
}

.svg-circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 25%);
}

.container {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid video {
    /* The video and images are causing the row to become too tall, making the surrounding text ugly*/
    max-height: 340px;
}

.container-fluid img.h-100 {
    max-height: 240px;
}

.container-fluid img.w-100 {
    max-width: 450px;
}

@media (max-width: 767px) {
    .rrr_logo {
        max-width: 200px;
    }
}


nav {
    z-index: 4;
    border-radius: 2px;
}
nav.navbar {
    position: fixed;
    transition: transform 0.8s .1s ease,
    background-color 3s ease,
    border-color 3s ease,
    box-shadow 3s ease;
}
.hide-nav-bar {
    transform: translateY(-120%);
}

.bg-glass {
    background-color: rgba(190, 190, 190, 0.3); /* Semi-transparent white for glass effect */
    backdrop-filter: blur(5px); /* Blur effect for the background */
    border-width: 1px;
    border-top-width: 0;
    border-color: rgba(224, 224, 224, 0.5); /* Light border for the glass edges */
    box-shadow: inset 0 4px 4px rgba(176, 175, 175, 0.6), /* Inner top light */
                inset 0 -4px 4px rgba(0, 0, 0, 0.1), /* Inner bottom shadow */
                0 8px 16px rgba(0, 0, 0, 0.1); /* Drop shadow for depth */
}

.bg-glass-opaque {
    background-color: rgba(211, 248, 244, 0.9);
    border-color: rgba(224, 224, 224, 0.7); /* Light border for the glass edges */
    box-shadow: inset 0 4px 4px rgba(176, 175, 175, 0.8), /* Inner top light */
                inset 0 -4px 4px rgba(0, 0, 0, 0.3), /* Inner bottom shadow */
                0 8px 16px rgba(0, 0, 0, 0.3); /* Drop shadow for depth */
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20px;
    padding: 7px;
    border-radius: 2px;
    transition: background-color 0.00s ease-in-out, transform 0.4s ease-in-out;
}

nav li:hover {
    color: #000; /* Color of text on hover, change as you like */
    background: rgba(255, 255, 255, 0.2); /* Slight hover background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.dropdown {
  position: relative;
}
.dropdown-menu {
    background-color: rgba(211, 248, 244, 0.97);
}
.dropdown-menu li {
    border-radius: 4px;
}
.dropdown-item:hover {
    background-color: rgba(228, 248, 245, 0.83);
    border-radius: 4px;
}
ul.dropdown-menu {
    margin-top: 0.125rem;
}
.dropdown-menu, .dropdown-menu li {
    z-index: 5;
}
.dropdown-menu-end {
    right: 5px;
}
.dropdown-divider {
    border-color: var(--fusion-purple);
}
.dropdown-divider:hover {
    box-shadow: none;
}
.divider:hover {
    box-shadow: none;
}

.logo {
    height: 33px;
    width: auto;
}

header {
    position: relative;
    padding-top: 15px;
    text-align: center;
}

header h1 {
    width: 100%;
    font-size: 4em;
    text-shadow: 2px 0 var(--font-border-width) rgba(176, 175, 175, 0.8),
                 -2px 0 var(--font-border-width) rgba(176, 175, 175, 0.8),
                 0 2px var(--font-border-width) rgba(176, 175, 175, 0.8),
                 0 -2px var(--font-border-width) rgba(176, 175, 175, 0.8);
}

/* These media sizes are based on https://getbootstrap.com/docs/5.0/layout/breakpoints/ */
@media (min-width: 576px) {
    header h1 {
        font-size: 5em;
    }
}

@media (min-width: 768px) {
    header h1 {
        font-size: 6em;
    }
}

@media (min-width: 992px) {
    header h1 {
        font-size: 7em;
    }
}
header.container-fluid {
    padding-top: 5rem;
}

.logo-wrapper {
    display: inline-flex;
    width: 65%;
    position: relative; /* It will be relative to the container now */
    margin-left: auto;
}

.logo-wrapper img {
    width: 100%;
    height: auto;
}

.video {
    display: grid;
    place-items: center;
    /* Above this width, an ugly, thick black border surrounds the thumbnail */
    max-width: calc(min(85vw, 639px));
    box-shadow: 0 4px 14px rgba(176, 175, 175, 0.6),
                0 -4px 14px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1);
}

.video iframe {
    aspect-ratio: calc(560 / 315);
    width: 100%;
    z-index: 3;
}

/* Ensure the value cards are within a container that controls their width */
.values-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust gap as needed */
}

/* Fixed height for each card */
/*.card-body {
    height: 200px;
}*/

.card-body img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 0;
}

.card-title {
    margin-bottom: 0;
}

@font-face {
    font-family: 'NicoKaku';
    src: url('fonts/nicokaku_v2.ttf') format('truetype');
}

.nicokaku {
    color: white;
    font-family: 'NicoKaku', 'Dosis', sans-serif;
}

.h-underline {
    position: relative;
    display: inline-block; /* Allows the pseudo-element to align with text */
}

.h-underline::after {
    content: '';
    display: block;
    width: 0;  /* Start invisible */
    background-color: currentColor; /* Use the color of the text */
    position: absolute;
    left: 0;
    transition: width var(--underlining-duration) ease-in;
}

.h-underline-animate::after {
    width: 100%; /* Full underline */
}

.transition-delay::after {
    transition-delay: calc(var(--underlining-duration)/2);
}

h2 {
    font-weight: bold;
}

h1.h-underline, h2.h-underline {
    padding-bottom: 5px;
}

h1::after, h2::after, h3:after, h4:after {
    height: 5px; /* Thickness of the underline */
    border-radius: 4px;
}

h5.h-underline {
    padding-bottom: 3px;
}

.h-underline h5::after {
    height: 3px;
}

.h-aquamarine::after {
    background-color: var(--fusion-aquamarine);
}

.bg-plasma {
    background-image: url('images/horizontal_plasma.webp');
    background-size: cover; /* Cover the entire area of the element */
    background-position: center; /* Center the background image */
}

.bg-plasma-top {
    background-image: url('images/horizontal_plasma_top.webp');
    background-size: cover; /* Cover the entire area of the element */
    background-position: center; /* Center the background image */
}

.bg-underwater {
    background-image: url('images/underwater_blue.webp');
    background-size: cover;
    background-position: center;
}

.bg-aquamarine {
    background-color: rgba(138, 238, 216, 0.73);
}

button.bg-aquamarine:hover {
    background-color: rgba(89, 217, 217, 0.85);
}

.bg-aquamarine-transparent {
    background-color: rgba(138, 238, 216, 0.24);
    margin: 0;
    padding: 0;
}

.bg-opal {
    background-color: #46d3e0;
}

.h-pink::after {
    background-color: var(--fusion-pink);
}

.h-blue::after {
    background-color: var(--fusion-blue);
}

.h-purple::after {
    background-color: var(--fusion-purple);
}

.h-gray::after {
    background-color: var(--fusion-gray);
}

.bg-blue {
    background-color: var(--fusion-blue);
}

.bg-purple {
    background-color: var(--fusion-purple);
    color: white;
}

.bg-purple:hover {
    background-color: #a20dd7;
    color:white;
}

button.bg-purple, button.bg-purple:hover {
    border-color: #780a9d;
}

.bg-gray-mist {
  /* This is the top-left of bg-ping-mist */
  background-image: url('images/gray-mist.svg');
  background-size: cover; /* Cover the entire area of the element */
  background-position: center; /* Center the background image */
}

@keyframes spin {
  100% {transform: rotate(1turn); }
}

.spin {
    animation: spin 45s linear infinite reverse;
}

/* todo: turbulence: https://codepen.io/cobra_winfrey/pen/eYOXOdB */

/* todo: charm UI https://codepen.io/TWilson/pen/jOdWqbZ */
