body {
    font-family: 'Open Sans', sans-serif;
}

.svg-circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 25%);
}

.logo-wrapper {
  margin-left: 23%;
  width: 65%;
  padding-bottom: calc(65% * (166 / 736));
  position: relative;
  height: 0; /* This is important to ensure the padding-bottom dictates the height */
}

.logo-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
